html { background: #f9f9f9; }
body {
  margin: 0 auto;
  color: #333;
  font: 16px san-serif;
  max-width: 900px;
  padding: 20px;
}

h1, h1 a { color: #5c7b80; }

a {
  color: #007dbd;
  text-decoration: none;
}
